<!DOCTYPE html>
<html>
    <head>
        <title>Post a story</title>
    </head>
    <body>
        <h1>Post a story</h1>
        <h2>Write here your story's title</h2>
        <form action = "/post" method = "POST">
            <input type = "text" name = "title" placeholder="A really nice title!">
            <input class = "big" type = "text" name = "story" placeholder="Once upon a time....">
            <input type = "submit">
        </form>
        <script>
        if (window.location.protocol === "http:") {
          location.href = "https://" + window.location.hostname + window.location.pathname
        }
    </script>
    </body>
</html>