<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title> 
    <meta property = "og:title" content = "{{title}}">
    <meta property = "og:description" content = "by {{writer}}">
    <meta property = "og:image" content = "https://i.seba.gq/cafe/Cafe.png">
    <meta name = "theme-color" content = "#ffeaa7">
    <meta charset="UTF-8">
    <meta name="description" content="Share your stories with the world throught Discord!">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python">
    <meta name="author" content="Sebastiano Girotto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "https://i.seba.gq/cafe/Cafe.png">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'ABeeZee', sans-serif;
      background: #40739e;
    }

    h1 {
      text-align: center;
    }

    .story {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10%;
      margin-right: 10%;
    }
  </style>
  </head>
  <body>
    
    <h1>{{title}}</h1>
    <div class = "centered">
      <div class = "story">
        {% autoescape false %}
          <p>{{story}}</p>
        {% endautoescape %}
      </div>
    </div>
  </body>
  <script>
      if (window.location.protocol === "http:") {
        location.href = "https://" + window.location.hostname + window.location.pathname
      }
    </script>
</html>
